// stylelint-disable color-no-hex

// Brand colors
$a500px: #0099e5;
$codepen: #000000;
$dribbble: #ea4c89;
$facebook: #3b5998;
$github: #333333;
$googleplus: #dd4b39;
$instagram: #c13584;
$linkedin: #0077b5;
$paypal: #003087;
$pinterest: #bd081c;
$skype: #00aff0;
$spotify: #1db954;
$telegram: #0088cc;
$twitter: #1da1f2;
$vimeo: #1ab7ea;
$whatsapp: #25d366;
$wordpress: #21759b;
$youtube: #ff0000;
