// stylelint-disable color-no-hex
// stylelint-disable scss/dollar-variable-colon-space-before

// Flat UI Colors
// http://www.flatuicolorpicker.com/all
// https://flatuicolors.com/
// http://bootflat.github.io/color-picker.html
// http://htmlcolorcodes.com/color-charts/

// Red - Pink
$alizarin-50 : #fdedec;
$alizarin-100: #fadbd8;
$alizarin-200: #f5b7b1;
$alizarin-300: #f1948a;
$alizarin-400: #ec7063;
$alizarin-500: #e74c3c;
$alizarin-600: #cb4335;
$alizarin-700: #b03a2e;
$alizarin-800: #943126;
$alizarin-900: #78281f;
$alizarin    : $alizarin-500;
$pomegranate-50 : #f9ebea;
$pomegranate-100: #f2d7d5;
$pomegranate-200: #e6b0aa;
$pomegranate-300: #d98880;
$pomegranate-400: #cd6155;
$pomegranate-500: #c0392b;
$pomegranate-600: #a93226;
$pomegranate-700: #922b21;
$pomegranate-800: #7b241c;
$pomegranate-900: #641e16;
$pomegranate    : $pomegranate-500;
$tall-poppy        : #f22613;
$thunderbird       : #d91e18;
$old-brick         : #96281b;
$monza             : #cf000f;
$flamingo          : #ef4836;
$true-red          : #8f1d21;
$cochineal-red     : #9d2933;
$scarlet           : #cf3a24;
$red-orange        : #dc3023;
$pure-crimson      : #c3272b;
$foreign-crimson   : #c91f37;
$sunset-orange     : #f64747;
$valencia          : #d64541;
$chestnut-rose     : #d24d57;
$medium-crimson    : #c93756;
$cabaret           : #d2527f;
$razzmatazz        : #db0a5b;
$radical-red       : #f62459;
$sunglo            : #e26a6a;
$peach-colored     : #f47983;
$red-plum-colored  : #db5a6b;
$new-york-pink     : #e08283;
$wax-flower        : #f1a9a0;
$washed-out-crimson: #ffb3a7;
$iris-wing         : #f58f84;


// Purple
$amethyst-50  : #f5eef8;
$amethyst-100 : #ebdef0;
$amethyst-200 : #d7bde2;
$amethyst-300 : #c39bd3;
$amethyst-400 : #af7ac5;
$amethyst-500 : #9b59b6;
$amethyst-600 : #884ea0;
$amethyst-700 : #76448a;
$amethyst-800 : #633974;
$amethyst-900 : #512e5f;
$amethyst     : $amethyst-500;
$wisteria-50  : #f4ecf7;
$wisteria-100 : #e8daef;
$wisteria-200 : #d2b4de;
$wisteria-300 : #bb8fce;
$wisteria-400 : #a569bd;
$wisteria-500 : #8e44ad;
$wisteria-600 : #7d3c98;
$wisteria-700 : #6c3483;
$wisteria-800 : #5b2c6f;
$wisteria-900 : #4a235a;
$wisteria     : $wisteria-500;
$rebeccapurple : #663498;
$honey-flower  : #674172;
$bellflower    : #5d3f6a;
$iris          : #763568;
$violet        : #5b3256;
$plum          : #913d88;
$seance        : #9a12b3;
$medium-purple : #bf55ec;
$tatarian-aster: #8d608c;
$light-wisteria: #be90d4;
$wistful       : #aea8d3;
$snuff         : #dcc6e0;


// Blue
$peter-river-50  : #ebf5fb;
$peter-river-100 : #d6eaf8;
$peter-river-200 : #aed6f1;
$peter-river-300 : #85c1e9;
$peter-river-400 : #5dade2;
$peter-river-500 : #3498db;
$peter-river-600 : #2e86c1;
$peter-river-700 : #2874a6;
$peter-river-800 : #21618c;
$peter-river-900 : #1b4f72;
$peter-river     : $peter-river-500;
$belize-hole-50  : #eaf2f8;
$belize-hole-100 : #d4e6f1;
$belize-hole-200 : #a9cce3;
$belize-hole-300 : #7fb3d5;
$belize-hole-400 : #5499c7;
$belize-hole-500 : #2980b9;
$belize-hole-600 : #2471a3;
$belize-hole-700 : #1f618d;
$belize-hole-800 : #1a5276;
$belize-hole-900 : #154360;
$belize-hole     : $belize-hole-500;
$ming             : #336e7b;
$hanada           : #044f67;
$navy-blue        : #003171;
$jacksons-purple  : #1f3a93;
$chambray         : #3a539b;
$lapis-lazuli     : #1f4788;
$san-marino       : #446cb3;
$royal-blue       : #4183d7;
$picton-blue      : #59abe3;
$shakespeare      : #52b3d9;
$fountain-blue    : #5c97bf;
$jordy-blue       : #89c4f4;
$spray            : #81cfe0;
$picton-blue-dark : #22a7f0;
$dodger-blue      : #19b5fe;
$medium-turquoise : #4ecdc4;
$malibu           : #6bb9f0;
$curious-blue-dark: #1e8bc3;
$jelly-bean       : #2574a9;
$steel-blue       : hsl(217, 47%, 52%);
$hoki             : #67809f;
$sky              : #4d8fac;
$ultramarine      : #5d8cae;
$light-green-blue : #48929b;
$thousand-herb    : #317589;
$alice-blue       : #e4f1fe;
$humming-bird     : #c5eff7;


// Green
$turquoise-50  : #e8f8f5;
$turquoise-100 : #d1f2eb;
$turquoise-200 : #a3e4d7;
$turquoise-300 : #76d7c4;
$turquoise-400 : #48c9b0;
$turquoise-500 : #1abc9c;
$turquoise-600 : #17a589;
$turquoise-700 : #148f77;
$turquoise-800 : #117864;
$turquoise-900 : #0e6251;
$turquoise     : $turquoise-500;
$green-sea-50  : #e8f6f3;
$green-sea-100 : #d0ece7;
$green-sea-200 : #a2d9ce;
$green-sea-300 : #73c6b6;
$green-sea-400 : #45b39d;
$green-sea-500 : #16a085;
$green-sea-600 : #138d75;
$green-sea-700 : #117a65;
$green-sea-800 : #0e6655;
$green-sea-900 : #0b5345;
$green-sea     : $green-sea-500;
$emerald-50  : #eafaf1;
$emerald-100 : #d5f5e3;
$emerald-200 : #abebc6;
$emerald-300 : #82e0aa;
$emerald-400 : #58d68d;
$emerald-500 : #2ecc71;
$emerald-600 : #28b463;
$emerald-700 : #239b56;
$emerald-800 : #1d8348;
$emerald-900 : #186a3b;
$emerald     : $emerald-500;
$nephritis-50  : #e9f7ef;
$nephritis-100 : #d4efdf;
$nephritis-200 : #a9dfbf;
$nephritis-300 : #7dcea0;
$nephritis-400 : #52be80;
$nephritis-500 : #27ae60;
$nephritis-600 : #229954;
$nephritis-700 : #1e8449;
$nephritis-800 : #196f3d;
$nephritis-900 : #145a32;
$nephritis     : $nephritis-500;
$green-bamboo          : #006442;
$patina                : #407a52;
$eucalyptus            : #26a65b;
$ocean-green           : #4daf7c;
$jade                  : #00b16a;
$salem                 : #1e824c;
$shamrock              : #2ecc71;
$gossip                : #87d37c;
$siskin-sprout-yellow  : #7a942e;
$young-green-onion     : #8db255;
$fresh-onio            : #5b8930;
$young-bamboo          : #6b9362;
$observatory           : #049372;
$medium-aquamarine     : #66cc99;
$silver-tree           : #68c3a3;
$downy                 : #65c6bb;
$light-sea-green       : #1ba39c;
$mountain-meadow       : #1bbc9b;
$caribbean-green       : #03c9a9;
$green-haze            : #019875;
$turquoise-old         : #1abc9c;
$free-speech-aquamarine: #03a678;
$niagara               : #2abb9b;
$jungle-green          : #26c281;
$riptide               : #86e2d5;
$madang                : #c8f7c5;
$aqua-island           : #a2ded0;
$dark-sea-green        : #90c695;
$gossip                : #87d37c;

// Yellow - Orange
$sunflower-50 : #fef9e7;
$sunflower-100: #fcf3cf;
$sunflower-200: #f9e79f;
$sunflower-300: #f7dc6f;
$sunflower-400: #f4d03f;
$sunflower-500: #f1c40f;
$sunflower-600: #d4ac0d;
$sunflower-700: #b7950b;
$sunflower-800: #9a7d0a;
$sunflower-900: #7d6608;
$sunflower    : $sunflower-500;
$orange-50 : #fef5e7;
$orange-100: #fdebd0;
$orange-200: #fad7a0;
$orange-300: #f8c471;
$orange-400: #f5b041;
$orange-500: #f39c12;
$orange-600: #d68910;
$orange-700: #b9770e;
$orange-800: #9c640c;
$orange-900: #7e5109;
$orange    : $orange-500;
$carrot-50 : #fdf2e9;
$carrot-100: #fae5d3;
$carrot-200: #f5cba7;
$carrot-300: #f0b27a;
$carrot-400: #eb984e;
$carrot-500: #e67e22;
$carrot-600: #ca6f1e;
$carrot-700: #af601a;
$carrot-800: #935116;
$carrot-900: #784212;
$carrot    : $carrot-500;
$pumpkin-50 : #fbeee6;
$pumpkin-100: #f6ddcc;
$pumpkin-200: #edbb99;
$pumpkin-300: #e59866;
$pumpkin-400: #dc7633;
$pumpkin-500: #d35400;
$pumpkin-600: #ba4a00;
$pumpkin-700: #a04000;
$pumpkin-800: #873600;
$pumpkin-900: #6e2c00;
$pumpkin    : $pumpkin-500;
$ecstasy             : #f9690e;
$amber               : #ca6924;
$tahiti-gold         : #e87e04;
$california          : #f89406;
$crusta              : #f2784b;
$jaffa-dark          : #f27935;
$fire-bush           : #eb9532;
$jaffa               : #eb974e;
$rapessed-oil        : #a17917;
$sumac-dyed          : #e08a1e;
$bright-golden       : #ffa400;
$patrina-flowers     : #d9b611;
$gamboge             : #ffb61e;
$ripe-lemon          : #f7ca18;
$lightning-yellow    : #f5ab35;
$saffron             : #f4d03f;
$casablanca          : #f4b350;
$sandstorm           : #f9bf3b;
$amur-cork-tree      : #f3c13a;
$japanese-trindra    : #e2b13c;
$corn-colored        : #faa945;
$egg-colored         : #ffa631;
$floral-leaf         : #ffb94e;
$golden-fallen-leaves: #e29c45;
$cream-can           : #f5d76e;
$cape-honey          : #fde3a7;


// Grey
$wet-asphalt-50  : #ebedef;
$wet-asphalt-100 : #d6dbdf;
$wet-asphalt-200 : #aeb6bf;
$wet-asphalt-300 : #85929e;
$wet-asphalt-400 : #5d6d7e;
$wet-asphalt-500 : #34495e;
$wet-asphalt-600 : #2e4053;
$wet-asphalt-700 : #283747;
$wet-asphalt-800 : #212f3c;
$wet-asphalt-900 : #1b2631;
$wet-asphalt     : $wet-asphalt-500;
$midnight-blue-50 : #eaecee;
$midnight-blue-100: #d5d8dc;
$midnight-blue-200: #abb2b9;
$midnight-blue-300: #808b96;
$midnight-blue-400: #566573;
$midnight-blue-500: #2c3e50;
$midnight-blue-600: #273746;
$midnight-blue-700: #212f3d;
$midnight-blue-800: #1c2833;
$midnight-blue-900: #17202a;
$midnight-blue    : $midnight-blue-500;
$clouds-50  : #fdfefe;
$clouds-100 : #fbfcfc;
$clouds-200 : #f7f9f9;
$clouds-300 : #f4f6f7;
$clouds-400 : #f0f3f4;
$clouds-500 : #ecf0f1;
$clouds-600 : #d0d3d4;
$clouds-700 : #b3b6b7;
$clouds-800 : #979a9a;
$clouds-900 : #7b7d7d;
$clouds     : $clouds-500;
$silver-50  : #f8f9f9;
$silver-100 : #f2f3f4;
$silver-200 : #e5e7e9;
$silver-300 : #d7dbdd;
$silver-400 : #cacfd2;
$silver-500 : #bdc3c7;
$silver-600 : #a6acaf;
$silver-700 : #909497;
$silver-800 : #797d7f;
$silver-900 : #626567;
$silver     : $silver-500;
$concrete-50  : #f4f6f6;
$concrete-100 : #eaeded;
$concrete-200 : #d5dbdb;
$concrete-300 : #bfc9ca;
$concrete-400 : #aab7b8;
$concrete-500 : #95a5a6;
$concrete-600 : #839192;
$concrete-700 : #717d7e;
$concrete-800 : #5f6a6a;
$concrete-900 : #4d5656;
$concrete     : $concrete-500;
$asbestos-50  : #f2f4f4;
$asbestos-100 : #e5e8e8;
$asbestos-200 : #ccd1d1;
$asbestos-300 : #b2babb;
$asbestos-400 : #99a3a4;
$asbestos-500 : #7f8c8d;
$asbestos-600 : #707b7c;
$asbestos-700 : #616a6b;
$asbestos-800 : #515a5a;
$asbestos-900 : #424949;
$asbestos     : $asbestos-500;
$ebony-clay  : #22313f;
$lynch       : #6c7a89;
$silver      : #bfbfbf;
$edward      : #abb7b7;
$white-smoke : #ececec;
$pumice      : #d2d7d3;
$gallery     : #eeeeee;
$iron        : #dadfe1;
$cararra     : #f2f1ef;
