// stylelint-disable color-no-hex
// stylelint-disable scss/dollar-variable-colon-space-before

// iOS Colors
$ios-red      : #ff3b30;
$ios-orange   : #ff9500;
$ios-yellow   : #ffcc00;
$ios-green    : #4cd964;
$ios-tealblue : #5ac8fa;
$ios-blue     : #007aff;
$ios-pink     : #ff2d55;
$ios-grey     : #8e8e93;
