// stylelint-disable scss/dollar-variable-colon-space-before

// Base
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$alpha: hsla(0, 0%, 0%, 0);

// Greyscale
$grey-50 : hsl(0, 0%, 95%);
$grey-100: hsl(0, 0%, 90%);
$grey-150: hsl(0, 0%, 85%);
$grey-200: hsl(0, 0%, 80%);
$grey-250: hsl(0, 0%, 75%);
$grey-300: hsl(0, 0%, 70%);
$grey-350: hsl(0, 0%, 65%);
$grey-400: hsl(0, 0%, 60%);
$grey-450: hsl(0, 0%, 55%);
$grey-500: hsl(0, 0%, 50%);
$grey-550: hsl(0, 0%, 45%);
$grey-600: hsl(0, 0%, 40%);
$grey-650: hsl(0, 0%, 35%);
$grey-700: hsl(0, 0%, 30%);
$grey-750: hsl(0, 0%, 25%);
$grey-800: hsl(0, 0%, 20%);
$grey-850: hsl(0, 0%, 15%);
$grey-900: hsl(0, 0%, 10%);
$grey-950: hsl(0, 0%, 5%);

// Alpha - Black
$alpha-b-50 : hsla(0, 0%, 0%, 0.05);
$alpha-b-100: hsla(0, 0%, 0%, 0.1);
$alpha-b-150: hsla(0, 0%, 0%, 0.15);
$alpha-b-200: hsla(0, 0%, 0%, 0.2);
$alpha-b-250: hsla(0, 0%, 0%, 0.25);
$alpha-b-300: hsla(0, 0%, 0%, 0.3);
$alpha-b-350: hsla(0, 0%, 0%, 0.35);
$alpha-b-400: hsla(0, 0%, 0%, 0.4);
$alpha-b-450: hsla(0, 0%, 0%, 0.45);
$alpha-b-500: hsla(0, 0%, 0%, 0.5);
$alpha-b-550: hsla(0, 0%, 0%, 0.55);
$alpha-b-600: hsla(0, 0%, 0%, 0.6);
$alpha-b-650: hsla(0, 0%, 0%, 0.65);
$alpha-b-700: hsla(0, 0%, 0%, 0.7);
$alpha-b-750: hsla(0, 0%, 0%, 0.75);
$alpha-b-800: hsla(0, 0%, 0%, 0.8);
$alpha-b-850: hsla(0, 0%, 0%, 0.85);
$alpha-b-900: hsla(0, 0%, 0%, 0.9);
$alpha-b-950: hsla(0, 0%, 0%, 0.95);

// Alpha - White
$alpha-w-50 : hsla(0, 0%, 100%, 0.05);
$alpha-w-100: hsla(0, 0%, 100%, 0.1);
$alpha-w-150: hsla(0, 0%, 100%, 0.15);
$alpha-w-200: hsla(0, 0%, 100%, 0.2);
$alpha-w-250: hsla(0, 0%, 100%, 0.25);
$alpha-w-300: hsla(0, 0%, 100%, 0.3);
$alpha-w-350: hsla(0, 0%, 100%, 0.35);
$alpha-w-400: hsla(0, 0%, 100%, 0.4);
$alpha-w-450: hsla(0, 0%, 100%, 0.45);
$alpha-w-500: hsla(0, 0%, 100%, 0.5);
$alpha-w-550: hsla(0, 0%, 100%, 0.55);
$alpha-w-600: hsla(0, 0%, 100%, 0.6);
$alpha-w-650: hsla(0, 0%, 100%, 0.65);
$alpha-w-700: hsla(0, 0%, 100%, 0.7);
$alpha-w-750: hsla(0, 0%, 100%, 0.75);
$alpha-w-800: hsla(0, 0%, 100%, 0.8);
$alpha-w-850: hsla(0, 0%, 100%, 0.85);
$alpha-w-900: hsla(0, 0%, 100%, 0.9);
$alpha-w-950: hsla(0, 0%, 100%, 0.95);
