// stylelint-disable color-no-hex
// stylelint-disable scss/dollar-variable-colon-space-before

//  Open Color
//  v 1.6.3
//  https00://github.com/yeun/open-color

//  Gray
$oc-grey-0  : #f8f9fa;
$oc-grey-100: #f1f3f5;
$oc-grey-200: #e9ecef;
$oc-grey-300: #dee2e6;
$oc-grey-400: #ced4da;
$oc-grey-500: #adb5bd;
$oc-grey-600: #868e96;
$oc-grey-700: #495057;
$oc-grey-800: #343a40;
$oc-grey-900: #212529;

//  Red
$oc-red-0  : #fff5f5;
$oc-red-100: #ffe3e3;
$oc-red-200: #ffc9c9;
$oc-red-300: #ffa8a8;
$oc-red-400: #ff8787;
$oc-red-500: #ff6b6b;
$oc-red-600: #fa5252;
$oc-red-700: #f03e3e;
$oc-red-800: #e03131;
$oc-red-900: #c92a2a;

//  Pink
$oc-pink-0  : #fff0f6;
$oc-pink-100: #ffdeeb;
$oc-pink-200: #fcc2d7;
$oc-pink-300: #faa2c1;
$oc-pink-400: #f783ac;
$oc-pink-500: #f06595;
$oc-pink-600: #e64980;
$oc-pink-700: #d6336c;
$oc-pink-800: #c2255c;
$oc-pink-900: #a61e4d;

//  Grape
$oc-grape-0 : #f8f0fc;
$oc-grape-100: #f3d9fa;
$oc-grape-200: #eebefa;
$oc-grape-300: #e599f7;
$oc-grape-400: #da77f2;
$oc-grape-500: #cc5de8;
$oc-grape-600: #be4bdb;
$oc-grape-700: #ae3ec9;
$oc-grape-800: #9c36b5;
$oc-grape-900: #862e9c;

//  Violet
$oc-violet-0  : #f3f0ff;
$oc-violet-100: #e5dbff;
$oc-violet-200: #d0bfff;
$oc-violet-300: #b197fc;
$oc-violet-400: #9775fa;
$oc-violet-500: #845ef7;
$oc-violet-600: #7950f2;
$oc-violet-700: #7048e8;
$oc-violet-800: #6741d9;
$oc-violet-900: #5f3dc4;

//  Indigo
$oc-indigo-0  : #edf2ff;
$oc-indigo-100: #dbe4ff;
$oc-indigo-200: #bac8ff;
$oc-indigo-300: #91a7ff;
$oc-indigo-400: #748ffc;
$oc-indigo-500: #5c7cfa;
$oc-indigo-600: #4c6ef5;
$oc-indigo-700: #4263eb;
$oc-indigo-800: #3b5bdb;
$oc-indigo-900: #364fc7;

//  Blue
$oc-blue-0  : #e7f5ff;
$oc-blue-100: #d0ebff;
$oc-blue-200: #a5d8ff;
$oc-blue-300: #74c0fc;
$oc-blue-400: #4dabf7;
$oc-blue-500: #339af0;
$oc-blue-600: #228be6;
$oc-blue-700: #1c7ed6;
$oc-blue-800: #1971c2;
$oc-blue-900: #1864ab;

//  Cyan
$oc-cyan-0  : #e3fafc;
$oc-cyan-100: #c5f6fa;
$oc-cyan-200: #99e9f2;
$oc-cyan-300: #66d9e8;
$oc-cyan-400: #3bc9db;
$oc-cyan-500: #22b8cf;
$oc-cyan-600: #15aabf;
$oc-cyan-700: #1098ad;
$oc-cyan-800: #0c8599;
$oc-cyan-900: #0b7285;

//  Teal
$oc-teal-0  : #e6fcf5;
$oc-teal-100: #c3fae8;
$oc-teal-200: #96f2d7;
$oc-teal-300: #63e6be;
$oc-teal-400: #38d9a9;
$oc-teal-500: #20c997;
$oc-teal-600: #12b886;
$oc-teal-700: #0ca678;
$oc-teal-800: #099268;
$oc-teal-900: #087f5b;

//  Green
$oc-green-0  : #ebfbee;
$oc-green-100: #d3f9d8;
$oc-green-200: #b2f2bb;
$oc-green-300: #8ce99a;
$oc-green-400: #69db7c;
$oc-green-500: #51cf66;
$oc-green-600: #40c057;
$oc-green-700: #37b24d;
$oc-green-800: #2f9e44;
$oc-green-900: #2b8a3e;

//  Lime
$oc-lime-0  : #f4fce3;
$oc-lime-100: #e9fac8;
$oc-lime-200: #d8f5a2;
$oc-lime-300: #c0eb75;
$oc-lime-400: #a9e34b;
$oc-lime-500: #94d82d;
$oc-lime-600: #82c91e;
$oc-lime-700: #74b816;
$oc-lime-800: #66a80f;
$oc-lime-900: #5c940d;

//  Yellow
$oc-yellow-0  : #fff9db;
$oc-yellow-100: #fff3bf;
$oc-yellow-200: #ffec99;
$oc-yellow-300: #ffe066;
$oc-yellow-400: #ffd43b;
$oc-yellow-500: #fcc419;
$oc-yellow-600: #fab005;
$oc-yellow-700: #f59f00;
$oc-yellow-800: #f08c00;
$oc-yellow-900: #e67700;

//  Orange
$oc-orange-0  : #fff4e6;
$oc-orange-100: #ffe8cc;
$oc-orange-200: #ffd8a8;
$oc-orange-300: #ffc078;
$oc-orange-400: #ffa94d;
$oc-orange-500: #ff922b;
$oc-orange-600: #fd7e14;
$oc-orange-700: #f76707;
$oc-orange-800: #e8590c;
$oc-orange-900: #d9480f;
