---
layout: page.njk
title: "Artigos"
description: "Artigos de Iván Barcia"
---

<ul class="ArticleList">
    {% if collections.articles.length > 0 %}
        {%- for post in collections.articles | reverse -%}
        <li>
            <a href="{{ post.url }}">
                <article class="ArticleItem">
                    <img class="ArticleItem-coverimage" src="/img/{{ post.data.image.src }}" alt="{{ post.data.image.alt }}" loading="lazy">
                    <h2 class="ArticleItem-title">{{ post.data.title }}</h2>
                    <time class="ArticleItem-date Date" datetime="{{ post.date | formatDate('iso') }}">{{ post.date | formatDate('date') }}</time>
                    <div class="ArticleItem-excerpt">{{ post.data.excerpt }}</div>
                </article>
            </a>
        </li>
        {%- endfor -%}
    {% else %}
        <small>Silence is golden</small>
    {% endif %}

</ul>
