<form name="contacto" method="POST" action="/contacto/enviado" data-netlify="true" class="ContactForm">
	<div class="ContactForm-name">
		<label for="name">Nome:</label>
		<input id="name" class="Input" type="text" name="nome"/>
	</div>
	<div class="ContactForm-email">
		<label for="email">Email:</label>
		<input id="email" class="Input" type="email" name="email"/>
	</div>
	<div class="ContactForm-message">
		<label for="message">Mensaxe:</label>
		<textarea id="message" class="Input" name="mensaxe"></textarea>
	</div>
	<div class="ContactForm-submit">
		<div class="l-marginBottom-16">
			<input type="checkbox" name="" id="privacy">
			<label for="privacy">Acepto a <a href="/privacidade" target="_blank">política de privacidade</a></label>
		</div>
		<button id="submit" type="submit" class="Button" disabled>Enviar</button>
	</div>
</form>
