<li>
	<article>
		<header class="l-marginBottom-8">
			<h2 class="title-list-post">
				<a class="link-list-post" href="{{ post.url }}">{{ post.data.title }}</a class="link-list-post" >
			</h2>
		</header>
		<footer class="Meta">
			{% if dateFormat !== 'none' %}
			<time class="l-marginRight-4" datetime="{{ post.date }}">
				{{ post.date | date(dateFormat) }}
			</time>
			{% endif %}
			{% if post.data.tags %}
			<ul class="TagList">
			{% for tag in post.data.tags %}
				<li><a href="{{ tag | prependSlug('/temas/') }}">{{ tag }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
	</footer>
	</article>
</li>
