<li>
	<article>
		<header class="l-marginBottom-8">
			<h2 class="title-list-post">
				<a class="link-list-post" href="{{ post.url }}">{{ post.data.title }}</a class="link-list-post" >
			</h2>
		</header>
		<footer class="Meta">
			{% if dateFormat !== 'none' %}
			<time datetime="{{ post.date }}">
				{{ post.date | date(dateFormat) }}
			</time>
			{% endif %}
			<span>
			{% for tag in post.data.tags %}
				<a href="{{ tag | absoluteUrl('/temas/') }}">{{ tag }}</a>
			{% endfor %}
			</span>
	</footer>
	</article>
</li>
