
<div>¿Queres recibir máis información como esta? Suscríbete ao boletín</div>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/ivanbarcia"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/ivanbarcia', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Correo electrónico</label>
  <input type="email" name="email" id="bd-email" placeholder="Correo electrónico"/>
  <input type="submit" value="Subscribirme" />
</form>
