{
	"plugins": [
	  "stylelint-scss",
	  "stylelint-order"
	],
	"extends": [
		"stylelint-config-standard",
		"@barcia/stylelint-config-order"
	],
	"rules": {
		"at-rule-no-unknown": null,
		"scss/at-rule-no-unknown": true,
		"indentation": "tab",
		"max-empty-lines": [ 3, {
			"ignore": ["comments"],
			"severity": "warning"
		} ]
	}
}
