---
permalink: /app.webmanifest
---
{
	"lang": "{{ site.language }}",
	"name": "{{ site.title }}",
	"description": "{{ site.description }}",
	"start_url": "/",
	"display": "standalone",
	"icons": [{
	  "src": "img/logo-192w.png",
	  "sizes": "192x192"
	}],
	"theme_color": "black",
	"background_color": "black"
}
