{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"extends": "eslint:recommended",
	"rules": {
		"no-console": [1],
		"quotes": [1, "single"],

		"indent": [1, "tab"]
	}
}
