{
	"plugins": [
	  "stylelint-scss",
	  "stylelint-order"
	],
	"extends": "stylelint-config-recommended",
	"rules": {
		"at-rule-no-unknown": null,
		"scss/at-rule-no-unknown": true,
		"color-named": "never",
		"color-no-hex": true,
		"function-url-no-scheme-relative": true,
		"number-max-precision": 2,
		"shorthand-property-no-redundant-values": true,
		"value-no-vendor-prefix": true,
		"property-no-vendor-prefix": true,
		"declaration-block-no-redundant-longhand-properties": true,
		"declaration-no-important": [ true, {
			"severity": "warning"
		} ],
		"selector-class-pattern": "^([a-zA-Z0-9]+)*(-[a-zA-Z0-9]+)*(--[a-zA-Z0-9]+)*(-[a-zA-Z0-9]+)*$",
		"selector-max-compound-selectors": [ 3, {
			"severity": "warning"
		} ],
		"selector-max-empty-lines": [ 3, {
			"severity": "warning"
		} ],
		"selector-max-pseudo-class": [ 3, {
			"severity": "warning"
		} ],
		"selector-max-specificity": "0,3,0",
		"selector-max-id": 0,
		"selector-max-universal": 1,
		"media-feature-name-no-vendor-prefix": true,
		"at-rule-no-vendor-prefix": true,
		"max-nesting-depth": 3,
		"no-unknown-animations": true,
		"color-hex-case": "lower",
		"color-hex-length": "long",
		"font-family-name-quotes": "always-unless-keyword",
		"font-weight-notation": [ "numeric", {
			"severity": "warning"
		} ],
		"function-comma-newline-after": "never-multi-line",
		"function-comma-newline-before": "never-multi-line",
		"function-comma-space-after": "always",
		"function-comma-space-before": "never",
		"function-max-empty-lines": 0,
		"function-name-case": "lower",
		"function-parentheses-newline-inside": "never-multi-line",
		"function-parentheses-space-inside": "never",
		"function-url-quotes": "always",
		"function-whitespace-after": "always",
		"number-leading-zero": "always",
		"number-no-trailing-zeros": true,
		"string-quotes": "double",
		"length-zero-no-unit": [ true, {
			"ignore": ["custom-properties"]
		} ],
		"unit-case": "lower",
		"value-keyword-case": "lower",
		"value-list-comma-newline-after": "never-multi-line",
		"value-list-comma-newline-before": "never-multi-line",
		"value-list-comma-space-after": "always",
		"value-list-comma-space-before": "never",
		"value-list-max-empty-lines": 0,
		"custom-property-empty-line-before": [ "always", {
			"except": ["after-comment", "after-custom-property", "first-nested"],
			"ignore": ["inside-single-line-block"]
		} ],
		"scss/dollar-variable-empty-line-before": [ "always", {
			"except": ["after-comment", "after-dollar-variable", "first-nested"],
			"ignore": ["inside-single-line-block"]
		} ],
		"property-case": "lower",
		"declaration-bang-space-after": "never",
		"declaration-bang-space-before": "always",
		"declaration-colon-newline-after": "always-multi-line",
		"declaration-colon-space-after": "always",
		"declaration-colon-space-before": "never",
		"declaration-empty-line-before": "never",
		"declaration-block-semicolon-newline-after": "always-multi-line",
		"declaration-block-semicolon-newline-before": "never-multi-line",
		"declaration-block-semicolon-space-after": "always-single-line",
		"declaration-block-semicolon-space-before": "never",
		"declaration-block-trailing-semicolon": "always",
		"block-closing-brace-empty-line-before": "never",
		"block-closing-brace-newline-after": ["always", {
			"ignoreAtRules": ["if", "else"]
		} ],
		"block-closing-brace-newline-before": "always-multi-line",
		"block-closing-brace-space-before": "never-single-line",
		"block-opening-brace-newline-after": "always-multi-line",
		"block-opening-brace-space-after": "never-single-line",
		"block-opening-brace-space-before": "always",
		"selector-attribute-brackets-space-inside": "never",
		"selector-attribute-operator-space-after": "never",
		"selector-attribute-operator-space-before": "never",
		"selector-attribute-quotes": "always",
		"selector-combinator-space-after": "always",
		"selector-combinator-space-before": "always",
		"selector-descendant-combinator-no-non-space": true,
		"selector-pseudo-class-case": "lower",
		"selector-pseudo-class-parentheses-space-inside": "never",
		"selector-pseudo-element-case": "lower",
		"selector-pseudo-element-colon-notation": "double",
		"selector-type-case": "lower",
		"selector-list-comma-newline-after": [ "always", {
			"severity": "warning"
		} ],
		"selector-list-comma-newline-before": "never-multi-line",
		"selector-list-comma-space-after": "always-single-line",
		"selector-list-comma-space-before": "never",
		"rule-empty-line-before": [ "always-multi-line", {
			"except": ["first-nested"],
			"ignore": ["after-comment"]
		} ],
		"media-feature-colon-space-after": "always",
		"media-feature-colon-space-before": "never",
		"media-feature-name-case": "lower",
		"media-feature-parentheses-space-inside": "never",
		"media-feature-range-operator-space-after": "always",
		"media-feature-range-operator-space-before": "always",
		"media-query-list-comma-newline-after": "always-multi-line",
		"media-query-list-comma-newline-before": "never-multi-line",
		"media-query-list-comma-space-after": "always-single-line",
		"media-query-list-comma-space-before": "never-single-line",
		"at-rule-empty-line-before": [ "always", {
			"except": ["blockless-after-same-name-blockless", "blockless-after-blockless", "first-nested"],
			"ignore": ["after-comment", "blockless-after-blockless", "blockless-after-same-name-blockless"],
			"ignoreAtRules": ["include", "if", "else"]
		} ],
		"at-rule-name-case": "lower",
		"at-rule-name-space-after": "always",
		"at-rule-semicolon-newline-after": "always",
		"at-rule-semicolon-space-before": "never",
		"comment-empty-line-before": [ "always", {
			"except": ["first-nested"],
			"ignore": ["after-comment", "stylelint-commands"]
		} ],
		"comment-whitespace-inside": "always",
		"linebreaks": "unix",
		"indentation": [ "tab", {
			"indentClosingBrace": false,
			"ignore": ["inside-parens", "param"],
			"severity": "warning"
		} ],
		"max-empty-lines": [ 3, {
			"ignore": ["comments"],
			"severity": "warning"
		} ],
		"max-line-length": [ 80, {
			"ignore": ["comments"],
			"severity": "warning"
		} ],
		"no-eol-whitespace": true,
		"no-missing-end-of-source-newline": true,
		"scss/at-else-closing-brace-newline-after": "always-last-in-chain",
		"scss/at-else-closing-brace-space-after": "always-intermediate",
		"scss/at-else-empty-line-before": "never",
		"scss/at-else-if-parentheses-space-before": "always",
		"scss/at-if-closing-brace-newline-after": "always-last-in-chain",
		"scss/at-if-closing-brace-space-after": "always-intermediate",
		"scss/at-function-parentheses-space-before": "never",
		"scss/at-import-no-partial-leading-underscore": true,
		"scss/at-mixin-argumentless-call-parentheses": "never",
		"scss/at-mixin-parentheses-space-before": "never",
		"scss/at-mixin-pattern": "^([a-zA-Z0-9]+)*(-[a-zA-Z0-9]+)*(--[a-zA-Z0-9]+)*(-[a-zA-Z0-9]+)*$",
		"scss/dollar-variable-colon-space-after": "always",
		"scss/dollar-variable-colon-space-before": "never",
		"scss/dollar-variable-no-missing-interpolation": true,
		"scss/double-slash-comment-empty-line-before": [ "always", {
			"except": ["first-nested"],
			"ignore": ["between-comments", "stylelint-commands"]
		} ],
		"scss/double-slash-comment-whitespace-inside": "always",
		"scss/declaration-nested-properties-no-divided-groups": true,
		"scss/operator-no-newline-after": true,
		"scss/operator-no-newline-before": true,
		"scss/operator-no-unspaced": true,
		"scss/selector-no-redundant-nesting-selector": true,
		"order/order": [
			"dollar-variables",
			"custom-properties",
			{
				"type": "at-rule",
				"name": "expand"
			},
			 {
				"type": "at-rule",
				"name": "include"
			},
			"declarations",
			{
				"type": "at-rule",
				"name": "include",
				"parameter": "linkStates"
			},
			{
				"type": "at-rule",
				"name": "include",
				"hasBlock": true
			},
			{
				"type": "rule",
				"selector": "^&:"
			},
			"rules",
			"at-rules",
			{
				"type": "at-rule",
				"name": "include",
				"hasBlock": true,
				"parameter": "until"
			},
			{
				"type": "at-rule",
				"name": "include",
				"hasBlock": true,
				"parameter": "between"
			},
			{
				"type": "at-rule",
				"name": "include",
				"hasBlock": true,
				"parameter": "from"
			},
			{
				"type": "rule",
				"selector": "^&"
			}
		],
		"order/properties-order": [
			[
				{
					"properties": [
						"position",
						"top",
						"right",
						"bottom",
						"left",
						"float",
						"clear",
						"z-index"
					]
				},
				{
					"properties": [
						"display",
						"align-content",
						"align-items",
						"align-self",
						"flex",
						"flex-basis",
						"flex-direction",
						"flex-flow",
						"flex-grow",
						"flex-shrink",
						"flex-wrap",
						"justify-content",
						"order"
					]
				},
				{
					"properties": [
						"width",
						"height",
						"max-width",
						"max-height",
						"min-width",
						"min-height"
					]
				},
				{
					"properties": [
						"padding",
						"padding-top",
						"padding-right",
						"padding-bottom",
						"padding-left"
					]
				},
				{
					"properties": [
						"margin",
						"margin-top",
						"margin-right",
						"margin-bottom",
						"margin-left",
						"margin-collapse",
						"margin-top-collapse",
						"margin-right-collapse",
						"margin-bottom-collapse",
						"margin-left-collapse"
					]
				},
				{
					"properties": [
						"border",
						"border-collapse",
						"border-top",
						"border-right",
						"border-bottom",
						"border-left",
						"border-color",
						"border-image",
						"border-top-color",
						"border-right-color",
						"border-bottom-color",
						"border-left-color",
						"border-spacing",
						"border-style",
						"border-top-style",
						"border-right-style",
						"border-bottom-style",
						"border-left-style",
						"border-width",
						"border-top-width",
						"border-right-width",
						"border-bottom-width",
						"border-left-width",
						"border-radius",
						"border-top-right-radius",
						"border-bottom-right-radius",
						"border-bottom-left-radius",
						"border-top-left-radius",
						"border-radius-topright",
						"border-radius-bottomright",
						"border-radius-bottomleft",
						"border-radius-topleft"
					]
				},
				{
					"properties": [
						"overflow",
						"overflow-x",
						"overflow-y",
						"clip"
					]
				},
				{
					"properties": [
						"font",
						"font-family",
						"src",
						"font-size",
						"font-smoothing",
						"osx-font-smoothing",
						"font-style",
						"font-weight",
						"hyphens",
						"line-height",
						"letter-spacing",
						"word-spacing",
						"text-align",
						"text-decoration",
						"text-indent",
						"text-overflow",
						"text-rendering",
						"text-size-adjust",
						"text-shadow",
						"text-transform",
						"word-break",
						"word-wrap",
						"white-space",
						"vertical-align"
					]
				},
				{
					"properties": [
						"list-style",
						"list-style-type",
						"list-style-position",
						"list-style-image"
					]
				},
				{
					"properties": [
						"color",
						"background",
						"background-attachment",
						"background-color",
						"background-image",
						"background-position",
						"background-repeat",
						"background-size",
						"background-clip"
					]
				},
				{
					"properties": [
						"color",
						"background",
						"background-attachment",
						"background-color",
						"background-image",
						"background-position",
						"background-repeat",
						"background-size"
					]
				},
				"content",
				"quotes",
				"outline",
				"outline-color",
				"outline-offset",
				"outline-style",
				"outline-width",
				"opacity",
				"filter",
				"visibility",
				"size",
				"zoom",
				"transform",
				"box-align",
				"box-flex",
				"box-orient",
				"box-pack",
				"box-shadow",
				"box-sizing",
				"table-layout",
				"animation",
				"animation-delay",
				"animation-duration",
				"animation-iteration-count",
				"animation-name",
				"animation-play-state",
				"animation-timing-function",
				"animation-fill-mode",
				"transition",
				"transition-delay",
				"transition-duration",
				"transition-property",
				"transition-timing-function",
				"appearance",
				"pointer-events",
				"cursor",
				"backface-visibility",
				"resize",
				"user-select",
				"interpolation-mode",
				"direction",
				"marks",
				"page",
				"set-link-source",
				"unicode-bidi",
				"speak"
			],
			{
				"severity": "warning"
			}
		]
	}
}
