---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---


<Layout title='Drone - Iván'>
	
	<h1>Registro operador UAS</h1>
	
	<table>
		<tr>
			<th>Nombre:</th>
			<td>Iván</td>
		</tr>
		<tr>
			<th>Apellidos:</th>
			<td>Barcia Fernández</td>
		</tr>
		<tr>
			<th>Número de registro AESA:</th>
			<td>ESPs30jbaruygal9</td>
		</tr>
		<tr>
			<th>Fecha de caducidad:</th>
			<td><time datetime="29-08-2025">29/08/2025</time></td>
		</tr>
		<tr>
			<th>Número poliza seguro:</th>
			<td>CDA22198380EUR</td>
		</tr>
		<tr>
			<th>Asegurador:</th>
			<td>Starr Europe Insurance Limited (SEIL)</td>
		</tr>
	</table>
	
	<h2>Especificacións Drone</h2>
	<a href='https://www.dji.com/mini-3-pro/specs'>DJI Mini 3 Pro Specs</a>
</Layout>