---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Date from '../../components/Date/index.astro'
import Breadcrumbs from '../../components/Breadcumbs/index.astro'


export async function getStaticPaths() {
	const status = await getCollection('status');
	return status.map((post, index) => ({
		params: { slug: post.slug },
		props: { post, next: status[index+1], prev: status[index-1] },
	}));
}

const { post, next, prev } = Astro.props;

const { Content } = await post.render();

const breadcumbs = [
	{
		label: 'Status',
		slug: '/status/',
		current: false
	},
	{
		label: post.data.title,
		slug: `/status/${post.slug}`,
		current: true
	}
]
---

<Layout title={post.data.title}>
		<header>
			<Breadcrumbs data={breadcumbs}  />
			<h1>{ post.data.title }</h1>
			<Date date={post.data.pubDate} type='full'/>
		</header>

		<div class="Prose">
			<Content />
		</div>
</Layout>