---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const status = await getCollection('status');
	return status.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
	<h1>{ post.data.title }</h1>
	<time datetime={ post.data.datetime }>{ post.data.datetime }</time>

	<Content />
</Layout>