---
import Layout from '../../layouts/Layout.astro';
import Date from '../../components/Date/index.astro'
import { getCollection, getEntry } from 'astro:content';
import './_style.css'

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allStatus = await getCollection('status');
---


<Layout title='Status'>
	<h1>Status</h1>

	<ul class="PostList">
		{
			allStatus.map((post) => (
				<li class="PostItem">
					<h2 class="title"><a href={`/status/${post.slug}/`}>{post.data.title}</a></h2>
					<Date date={post.data.pubDate} type='full'/>
				</li>
			))
		}
	</ul>
</Layout>