---
import Layout from '../../layouts/Layout.astro';

import { getCollection, getEntry } from 'astro:content';

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allStatus = await getCollection('status');
---


<Layout title='Status'>
	<h1>Status</h1>

	<ul>
		{
			allStatus.map((post) => (
				<li>
					<a href={`/status/${post.slug}/`}>
						<h4 class="title">{post.data.title}</h4>
					</a>
				</li>
			))
		}
	</ul>
</Layout>