---
import { getCollection } from 'astro:content';
import Post from '../../layouts/Post.astro';
import Date from '../../components/Date/index.astro'
import Breadcrumbs from '../../components/Breadcumbs/index.astro'
import './_style.css'

export async function getStaticPaths() {
	const blog = await getCollection('blog');
	return blog.map((post, index) => ({
		params: { slug: post.slug },
		props: { post, next: blog[index+1], prev: blog[index-1] },
	}));
}

const { post, next, prev } = Astro.props;

const { Content } = await post.render();

const breadcumbs = [
	{
		label: 'Blog',
		slug: '/blog/',
		current: false
	},
	{
		label: post.data.title,
		slug: `/blog/${post.slug}`,
		current: true
	}
]
---

<Post title={post.data.title}>
		<article class="Article">
			<header>
				<Breadcrumbs data={breadcumbs}  />
				<h1 class="ArticleTitle">{ post.data.title }</h1>
				<Date date={post.data.pubDate} type='full'/>
			</header>
			<div class="Prose">
				<Content />
			</div>
		</article>
</Post>