@use 'library/mixin';

// Sectioning root
body {
	font-family: var(--fontFamily-primary, sans-serif);
	font-size: 1rem;
	color: var(--fontColor, black);
	background-color: var(--bgColor, white);
	scroll-behavior: smooth;
}



// Content sectioning
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.6em;
	line-height: 1.2em;
	text-rendering: optimizeLegibility;
}

address {
	font-style: inherit;
}



// Text content
p {
	line-height: 1.5em;
}

figcaption {
	font-size: 0.85em;
	&:first-child { margin-bottom: 0.5em; }
	&:last-child { margin-top: 0.5em; }
}

ul,
ol {
	padding-left: 1.5em;

	@include mixin.from(medium) {
		padding-left: 2em;
	}

	li {
		margin: 0.25em 0;
	}
}

pre {
	padding: 10px;
	font-family: var(--fontFamily-monospace, monospace);
	font-size: 0.95em;
	background-color: var(--neutral-100);
	tab-size: 2;

	@include mixin.from(small) {
		tab-size: 4;
	}
}



// Inline text semantics
a {
	color: var(--color-primary, blue);

	&:focus {
		outline-color: var(--color-outline);
	}
}

small {
	font-size: 0.85em;
}

:not(pre) > code {
	padding: 0.2em 0.4em;
	border-radius: 0.2em;
	font-family: var(--fontFamily-monospace, monospace);
	font-size: 0.95em;
	background-color: var(--neutral-100);
	user-select: all;
}

mark {
	background-color: var(--color-yellow, yellow);
}

kbd {
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	background-color: var(--neutral-50);
	box-shadow: 0 2px var(--neutral-100);
	user-select: all;
}

abbr {
	text-transform: uppercase;
}

q {
	quotes: '«' '»';
}



// Forms
input,
textarea,
select {
	// outline: none;

	&:disabled {
		color: var(--fontColor-light);
	}
}

fieldset {
	border: 1px solid var(--neutral-200);
}



// Demarcating
del {
	color: var(--color-red, red);
}

ins {
	color: var(--color-green, green);
}
