/* $CODE */

// Typography
pre,
code,
kbd,
samp {
	font-family: font(code);
	font-size: 0.95em;
}



// Color
pre,
code {
	color: var(--code-fontColor, var(--fontColor));
	background-color: var(--code-bgColor, $grey-50);
}



// Preformatted
pre {
	tab-size: 4;
	padding: 10px;

	figure & {
		margin-bottom: 0;
	}
}



// Inline code
:not(pre) > code,
kbd {
	display: inline-block;
	padding: 0 5px;
	border-radius: 2px;
	line-height: $textLineHeight;
	vertical-align: middle;
	user-select: all;
}



// Code themes
code { // stylelint-disable-line no-descending-specificity
	&.is-dark {
		--code-fontColor: #{$white};
		--code-bgColor: #{$grey-700};
	}

	&.is-green {
		--code-fontColor: #{$md-lightgreen-a400};
		--code-bgColor: #{$grey-700};
	}

	&.is-red {
		--code-fontColor: #{$razzmatazz};
		--code-bgColor: #{$alizarin-50};
	}

	&.is-blue {
		--code-fontColor: #{$belize-hole-700};
		--code-bgColor: #{$belize-hole-50};
	}

	&.is-brown {
		--code-fontColor: #{$carrot-700};
		--code-bgColor: #{$carrot-50};
	}
}
