.Breadcrumb {
	padding: 1rem 0;
	font: 1rem / 1.5 monospace;

	& ol {
		display: flex;
		list-style-type: none;
		gap: 12px;
		margin: 0;
		padding: 0;

		& li:not(:last-child) {
			&::after {
				content: ">";
				margin-left: 12px;

				@media (max-width: 600px) {
					content: "";
				}
			}
		}

		& li:not(:nth-last-child(2)) {
			@media (max-width: 600px) {
				display: none;

				&::before {
					content: "<";
					margin-right: 12px;
				}
			}
		}
	}
}
