.Page-header {
	margin-bottom: var(--size-4)
}

.Page-title {
	font-size: 3rem;
	margin-bottom: var(--size-2);

	&:not(:first-child) {
		margin-top: var(--size-2);
	}

	@media (max-width: 768px) {
		font-size: 2rem;
	}
}

.Page-content {
	font-size: 1.1rem;
	line-height: 1.5;

	@media (max-width: 768px) {
		font-size: 1rem;
	}
}
