@use 'library/mixin';

.Button {
	--Button-color: var(--fontColor);
	--Button-bgColor: var(--neutral-150);

	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 60px;
	min-height: 35px;
	padding: 0.125em 0.5em;
	border: none;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	color: var(--Button-color);
	background-color: var(--Button-bgColor);
	outline: 0;

	&:hover {
		--Button-bgColor: var(--neutral-200);
	}

	&:focus {
		@include mixin.outline-shadow;
	}

	&:disabled {
		--Button-color: var(--fontColor-lighter);
		--Button-bgColor: var(--neutral-150);
	}


	// Modifiers
	&--fullWidth {
		width: 100%;
	}
}
