@use 'library/mixin';

.ContactForm {
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"name"
		"email"
		"message"
		"submit";

	@include mixin.from(small) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		"name email"
		"message message"
		"submit .";
	}

	label {
		margin-bottom: 8px;
	}

	&-name,
	&-email,
	&-message {
		display: flex;
		flex-direction: column;
	}

	&-name {
		grid-area: name;
	}

	&-email {
		grid-area: email;
	}

	&-message {
		grid-area: message;

		textarea {
			min-height: 200px;
			resize: vertical;
		}
	}

	&-submit {
		grid-area: submit;
	}
}
