@use 'library/mixin';

.Meta {
	color: var(--fontColor-light);
	font-family: var(--fontFamily-sans, sans-serif);
	font-size: 0.85rem;

	&-tagList {
		@include mixin.list-inline;

		> li:not(:last-child) {
			margin-right: 8px;
		}
	}
}
