.Post {
	&-title {
		font-family: var(--fontFamily-serif);
		font-size: 2rem;
		margin-bottom: 0;
	}

	&-content {
		font-family: var(--fontFamily-serif);
		font-size: 1.1rem;

		> :last-child {
			margin-bottom: 0;
		}
	}
}
