---
layout: base.njk
---

{# <nav class="Breadcrumb" aria-label="Breadcrumb">
	<ol>
		<li><a href="/artigos">Artigos</a></li>
		<li><a href="./" aria-current="page">{{ title }}</a></li>
	</ol>
</nav> #}

<main>
	<article class="Page">
		<header class="Page-header">
			<img class="CoverImage" src="{{ site.imgPath }}{{ image.src }}" alt="{{ image.alt }}">
			<h1 class="Page-title">{{ title }}</h1>
			<time class="Date" datetime="{{ date | formatDate('iso') }}">{{ date | formatDate('datelong') }}</time>
		</header>

		<div class="Page-content">{{ content | safe }}</div>

		<footer>
			<address>
			 <em><a href="/contacto">{{ site.author.name }}</a></em>
			</address>

			{% include "subscribe.njk" %}
		</footer>
	</article>
</main>
