<!DOCTYPE html>
<html lang="{{ site.language }}">
	<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<title>Document</title>

			<link rel="stylesheet" href="/main.css">
			<script src="/main.js"></script>

			<link rel="manifest" href="/app.webmanifest">

			{% include "head/googleanalytics.html" %}
			{% include "head/opengraph.html" %}
			{% include "head/twittercards.html" %}
	</head>
	<body class="l-body">
		{% include "navbar.html" %}
		<main class="l-wrapper">
			{{ content | safe }}
		</main>
		{% include "footer.html" %}
	</body>
</html>
