<!DOCTYPE html>
<html lang="gl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ excerpt if excerpt else description }}">
    <link rel="stylesheet" href="/main.css">
	<script src="/main.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&display=swap" rel="stylesheet">
<body>

	<header>
		<a href="/">Iván</a>
		<nav class="Navbar">
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/artigos">Artigos</a></li>
				<li><a href="/notas">Notas</a></li>
			</ul>
		</nav>
	</header>

    <main class="Wrapper">
        {{ content | safe }}
    </main>

	<footer class="Footer">
		<p>&copy;</p>
		{# <a href="/privacidade">Privacidade</a> #}
		<a href="/contacto">Contacto</a>
	</footer>

</body>
</html>
