<!DOCTYPE html>
<html lang="{{ config.language }}">
	<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<title>{{ config.title }}{% if title %} • {{ title }}{% endif %}</title>
			<meta name="description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">

			<meta name="theme-color" content="#000000">
			<link rel="icon" sizes="192x192" href="/logo.png">
			<link rel="apple-touch-icon" href="/logo.png">
			<link rel="mask-icon" href="/logo.svg" color="black">

			<link rel="stylesheet" href="/main.css">
			<script src="/main.js"></script>

			{% include head/google-analytics.html %}
			<!-- {% include head/opengraph.html %} -->
			<!-- {% include head/twittercards.html %} -->
	</head>

	<body class="l-body">
		{% include navbar.html %}
		<main class="l-wrapper">
			{{ content }}
		</main>
		{% include footer.html %}
	</body>
</html>
