---
layout: base.html
---

{%- assign day = date | date: "%d" -%}
{%- assign month = date | date: "%m" -%}
{%- assign year = date | date: "%Y" -%}
{%- assign hour = date | date: "%H"  -%}
{%- assign minute = date | date: "%M"  -%}

<div class="l-marginBottom-24">
	<a class="Button" href="/notas">
		{% include icon/chevron-left.svg %}
		<span>Ver notas</span>
	</a>
</div>

<article>
  <header class="l-marginBottom-24">
    <div class="l-marginBottom-8">
			<h1 class="Post-title">{{ title }}</h1>
		</div>
    <div class="Meta">
			<time datetime="{{ date | date: "%Y-%m-%dT%H-%M-%S%z" }}">{{ day }} de {{ meses[month] }} do {{ year}} ás {{ hour }}:{{ minute }}</time>
			{% if tags %}
			<span>&nbsp;•&nbsp;</span>
			<ul class="Meta-tagList">
			{%- for tag in tags -%}
				<li>{{ tag }} </li>
			{%- endfor -%}
			</ul>
			{% endif %}
    </div>
  </header>

  <div class="Post-content">
    {{ content }}
  </div>
</article>

<div id="share" class="l-marginTop-48">
	{% include share.html %}
</div>
