---
layout: base.html
---

<article>
    <h1 class="Photo-title">{{ title }}</h1>

    <div class="Photo-info">
        <time datetime="{{ date }}">{{ date | formatDate() }}</time>
        <a href="https://www.openstreetmap.org/?mlat={{ meta.coords.lat }}&mlon={{ meta.coords.lon}}#map=16/{{ meta.coords.lat }}/{{ meta.coords.lon}}" target="blank">{{ meta.coords.lat }} {{ meta.coords.lon }}</a>
    </div>

    <img class="Photo-img" src="https://cdn.ivan.gal/{{ url }}" alt="{{ title }}" loading="lazy">

    <div class="Photo-meta">
        <div class="Photo-meta-group">
            <span><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M7 1.5H2m12.5 11v-8a1 1 0 00-1-1h-12a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1zm-5-2a2 2 0 110-4 2 2 0 010 4z" stroke="currentColor"></path></svg>{{ meta.camera }}</span>
            <span><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"> <rect x="5.5" y="10.5" width="4" height="3" rx="0.5"/> <rect x="4.5" y="4.5" width="6" height="6" rx="0.5"/> <rect x="3.5" y="0.5" width="8" height="4" rx="0.5"/></svg>{{ meta.lens }}</span>
        </div>
        <div class="Photo-meta-group">
            <span>{{ meta.speed }} seg.</span>
            <span>ISO {{ meta.iso }}</span>
            <span>{{ meta.length }} mm.</span>
            <span>f/{{ meta.f }}</span>
        </div>
    </div>

    <div class="Photo-description">
        {{ content | safe }}
    </div>
</article>
