---
layout: base
---


<article>
  <header class="l-marginBottom-24">
    <div class="l-marginBottom-8">
			<h1 class="Post-title">{{ title }}</h1>
		</div>
    <div class="Meta">
			<time datetime="{{ page.date | date('iso') }}">{{ page.date | date }}</time> •
			<span>
			{% for tag in tags %}
				<a href="{{ tag | absoluteUrl('/temas/') }}">{{ tag }}</a>
			{% endfor %}
			</span>
		</div>
	</header>

	<div class="Post-content">
		{{ content | safe }}
	</div>

	<footer class="l-marginTop-48">
		<em>{{ site.author.name }}.</em>
	</footer>
</article>

<div id="share" class="l-marginTop-48">
	{% include "share.html" %}
</div>
