$color-black: hsl(210, 5%, 0%);
$color-primary: hsl(222, 60%, 60%);

$dark-mode: native; // native | custom | false

$breakpoints: (
	"small": 500px,
	"medium": 960px,
	"large": 1344px,
	"extralarge": 1920px,
) !default;

$z-index: (
	"navbar": 99
) !default;
