// Site Layout
$site-maxWidth: 1920px;
$wrapper-width: 800px;
$wrapper-margin-x: 8px;
$textLineHeight: 1.5em;


// Colors
$color: (
	"primary": $royal-blue,
) !default;

@function color($key) {
	@return map-get($color, $key);
}



// Font types
$fontFamily-sans-serif: "Open Sans", "Helvetica Neue", "Roboto", sans-serif;
$fontFamily-serif: serif;
$fontFamily-monospace: "Hack", "Inconsolata", "Menlo", "Consolas", monospace;

// Fonts
$font: (
	"normal": $fontFamily-sans-serif,
	"heading": $fontFamily-sans-serif,
	"code": $fontFamily-monospace,
) !default;

@function font($key) {
	@return map-get($font, $key);
}

// Font Sizes
$weight: (
	"light": 300,
	"regular": 400,
	"bold": 700,
) !default;

@function weight($key) {
	@return map-get($weight, $key);
}



// Breakpoints map
$breakpoints: (
	"small": 450px,
	"medium": 1024px,
	"large": 1344px,
	"extralarge": 1920px,
) !default;

@function bp($key) {
	@return map-get($breakpoints, $key);
}



// Timing
$time: (
	"fast": 100ms,
	"normal": 200ms,
	"slow": 300ms,
) !default;

@function time($key) {
	@return map-get($time, $key);
}


// CUSTOM PROPERTIES
// stylelint-disable declaration-colon-space-before
:root {
	// Background color
	--bgColor         : #{$white};
	--bgColor-onHover : #{black(0.1)};
	--bgColor-onActive: #{black(0.2)};
	--brandColor-primary: #{$royal-blue};
	--brandColor-secondary: #{$sunglo};

	// Font color
	--fontColor             : #{$grey-700};
	--fontColor--light      : #{$grey-500};
	--fontColor--lighter    : #{$grey-300};
	--fontColor--dark       : #{$grey-900};
	--fontColor-alpha--black: #{black(0.4)};
	--fontColor-alpha--white: #{white(0.4)};

	// Basic color
	--blue  : #{$royal-blue};
	--green : #{$nephritis};
	--orange: #{$carrot-500};
	--pink  : #{$peach-colored};
	--purple: #{$bellflower};
	--red   : #{$pure-crimson};
	--yellow: #{$sandstorm};
}
// stylelint-enable
