.ContactForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & label {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }

    & input, textarea {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        background-color: hsl(0, 0%, 95%);
        border: none;
        outline: none;
    }

    & textarea {
        resize: vertical;
        min-height: 200px;
    }

    & button {
        min-height: 32px;
        max-width: 300px;
    }

}

.Field {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}