<footer class="text-foreground-light flex flex-col gap-2 pt-48 pb-24 text-xs">
	<p>
		Se estás buscando información profesional vai a: <a
			href="https://barcia.dev"
			target="_blank"
			class="font-medium">https://barcia.dev</a
		>.
	</p>
	<div class="flex justify-between">
		<div>Iván B. - {new Date().getFullYear()}</div>
		<ul class="flex gap-4">
			<li><a href="/artigos/rss.xml">RSS</a></li>
		</ul>
	</div>
</footer>
