<footer class="pt-48 pb-24 flex justify-between text-gray-400 text-sm">
    <div>Iván B. - {new Date().getFullYear()}</div>
    <ul class="flex gap-4">
        <li><a href="/condicions" class="hover:underline">Termos e condicións</a></li>
        <li><a href="/blog/rss.xml" class="hover:underline">RSS</a></li>
    </ul>
</footer>