<footer class="flex justify-between pt-48 pb-24 text-sm text-gray-400">
	<div>Iván B. - {new Date().getFullYear()}</div>
	<ul class="flex gap-4">
		<li><a href="/blog/rss.xml" class="hover:underline">RSS</a></li>
	</ul>
</footer>
