<header class="flex items-center justify-between py-4 font-normal lowercase">
	<nav>
		<ul class="flex gap-4">
			<li>
				<a
					aria-current={Astro.url.pathname === "/"
						? "page"
						: undefined}
					href="/"
					class="transition-colors">Inicio</a
				>
			</li>
			<li>
				<a
					aria-current={Astro.url.pathname === "/blog"
						? "page"
						: undefined}
					href="/blog"
					class="transition-colors">Blog</a
				>
			</li>
		</ul>
	</nav>
</header>
