<header class="flex justify-between items-center py-4 lowercase font-normal">
    
    <div>{Astro.url.pathname !== '/' ? <a href="/">inicio</a> : undefined}</div>
    <nav>
        <ul class="flex gap-4">
            <li><a aria-current={Astro.url.pathname === '/blog' ? 'page' : undefined} href="/blog" class="transition-colors">Blog</a></li>
        </ul>
    </nav>
</header>
