---
const menu = [
	{
		label: "Inicio",
		href: "/",
	},
	{
		label: "Artigos",
		href: "/artigos",
	},
	{
		label: "Fotografía",
		href: "/fotografia",
	},
];
---

<header class="flex items-center justify-between py-6">
	<nav>
		<ul class="flex gap-6 text-sm">
			{
				menu.map((item) => (
					<li>
						<a
							aria-current={
								Astro.url.pathname === item.href
									? "page"
									: undefined
							}
							href={item.href}
							class="aria-[current=page]:underline"
						>
							{item.label}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>
