---
import './style.css'

const { data } = Astro.props
---

<ul class="Breadcrumbs">
	{
		data.map((item) => (
				<li>
					<a href={item.slug} aria-current={item.current ? "page" : undefined}>{item.label}</a>
				</li>
			))
	}
</ul>