---
title: Arquivo
description: Arquivo do sitio web, con todas os artigos, notas e páxinas publicadas.
---


<section class="l-marginBottom-48">
	<h2 class="title-section">Temas</h2>
	<ul class="u-list-raw l-tagList">
		{%- for post in collections.tagList -%}
		<li>
			<a class="Button l-margin-8" href="{{ post | absoluteUrl('/temas/') }}">{{ post }}</a>
		</li>
	{%- endfor -%}
	</ul>
</section>



<section class="l-marginBottom-48">
	<h2 class="title-section">Páxinas</h2>
	<ul class="u-list-raw l-postList">
		{%- for post in collections.pages -%}
			{% set dateFormat = 'none' %}
			{% include "list-post.html" %}
		{%- endfor -%}
	</ul>
</section>


<section class="l-marginBottom-48">
	<h2 class="title-section">Artigos</h2>
	<ul class="u-list-raw l-postList">
		{%- for post in collections.articles -%}
			{% include "list-post.html" %}
		{%- endfor -%}
	</ul>
</section>


<section>
	<h2 class="title-section">Notas</h2>
	<ul class="u-list-raw l-postList">
		{%- for post in collections.notes -%}
			{% set dateFormat = 'long' %}
			{% include "list-post.html" %}
		{%- endfor -%}
	</ul>
</section>
