---
permalink: "/feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ permalink | absUrl }}" rel="self"/>
  <link href="{{ site.baseURL }}"/>
  <updated>{{ collections.content | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.baseURL }}</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {%- for entry in collections.content | reverse %}
  <entry>
    <title>{{ entry.data.title }}</title>
    <link href="{{ entry.url | absUrl }}"/>
    <updated>{{ entry.date | dateToRfc3339 }}</updated>
    <id>{{ entry.url | absUrl }}</id>
    <content type="html">{{ entry.templateContent | htmlToAbsoluteUrls(entry.url | absUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
