---
layout: base
permalink: /index.html
title: Inicio
description: Páxina de inicio
---


<header class="l-marginBottom-48 p-home-header">
	<div class="l-marginBottom-12">
		<h1 class="title-page">{{ site.title }}</h1>
	</div>

	<div class="p-home-description">
		<img class="p-home-profileImg" src="/img/ivanbarcia.jpg" alt="Foto de Iván Barcia">
		<div>
			<p>Deseñador e programador web.</p>
			<p>Este é o meu sitio web persoal.</p>
			<p>De Portomouro, Val do Dubra.</p>
		</div>
	</div>
</header>

<section class="l-marginBottom-48">
	<h2 class="title-section">Último artigo</h2>
	<ul class="u-list-raw l-postList">
		{%- for post in collections.articles -%}
			{% include "list-post.html" %}
		{%- endfor -%}
	</ul>
	<div class="l-marginTop-24">
		<a href="/artigos" class="Button">Ver artigos</a>
	</div>
</section>


<section>
	<h2 class="title-section">Últimas notas</h2>
	<ul class="u-list-raw l-postList">
		{%- for post in collections.notes | limit(3) -%}
			{% set dateFormat = 'long' %}
			{% include "list-post.html" %}
		{%- endfor -%}
	</ul>
	<div class="l-marginTop-24">
		<a href="/notas" class="Button">Ver notas</a>
	</div>
</section>
