---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Iván Barcia">
	<h1 aria-label="Iván Barcia"><img class="ProfileImage" src="/ivan_barcia.jpg" alt="Foto de perfíl de Iván Barcia"></h1>
	<div class="Greeting">🪐 Ola!,</div>

	<section class="Intro">
		<p>benvida/o ao meu sitio web. Son <strong>Iván Barcia</strong> e vivo en Galicia. Gústame a fotografía e saír a correr pola montaña. Tamén me interesa moito todo o que ten que ver co patrimonio e coa cultura, e tamén todo o relacionado coa tecnoloxía e con internet. Normalmente interésame case todo, o que provoca que non teña tempo para case nada.</p> 
		<p>En canto ao meu traballo son deseñador e programador de productos dixitais e actualmente traballo de xeito totalmente remoto en <a href="https://www.redradix.com/" target="_blank">RedRadix</a>, unha compañía de Madrid.</p>
		<p>Se che interesa saber algo máis, escribín un pequeno post falando <a href="/blog/acerca-deste-sitio-web/">acerca deste sitio web.</a> E tamén che deixo por aquí a páxina de <a href="/contacto">contacto</a> por se queres falar conmigo.</p>
	</section>
</Layout>

<style>
	.ProfileImage {
		width: 200px;
		height: 200px;
		border-radius: 100vw;

		@media screen and (max-width: 720px) {
			width: 100px;
			height: 100px;
		}
	}

	.Greeting {
		font-size: 3rem;
		font-weight: bold;
	}

	.Intro {
		font-size: 1.3rem;
		line-height: 1.5;

		& h1 {
			font-size: inherit;
			line-height: inherit;
		}

		@media screen and (max-width: 720px) {
			font-size: 1rem;
			line-height: 1.5;
		}
			
		}
	}
</style>