---
layout: tag
title: Temas
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
permalink: /temas/{{ tag }}/
---

<!-- <h2 class="title-section">Último artigo</h2> -->
<ul class="u-list-raw l-postList">
	{%- for post in collections[ tag ] -%}
		{% include "list-post.html" %}
	{%- endfor -%}
</ul>
