---
title: Tag Archive
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /temas/{{ tag }}/
---

<h1>Etiqueta: {{ tag }}</h1>

<ol>
	{% set taglist = collections[ tag ] %}
	{% for post in taglist | reverse %}
		<li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
	{% endfor %}
	</ol>
