// Mixin for make parent visible only to screen readers
@mixin screenReader {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	clip-path: inset(50%);
}



/// Mixin for make something hidden (some screen reader show a item with "display: none")
@mixin moreHidden {
	display: none;
	visibility: hidden;
}
