// Mixin for create simple gradientse
// Example: @include gradient((blue, red, yellow), 30deg);
@mixin backgroundGradient($colors, $angle: 90deg) {
	background: linear-gradient($angle, $colors);
}



// Mixin for create animated gradients
// Example: @include backgroundGradient--animated((blue, red, yellow), 10s);
@mixin backgroundGradient--animated($colors, $time) {
	background: linear-gradient(90deg, $colors);
	background-size: 400% 400%;
	animation: backgroundGradientAnimation $time ease-in-out infinite;

	@at-root {
		@keyframes backgroundGradientAnimation {
			0% {background-position: left;}
			50% {background-position: right;}
			100% {background-position: left;}
		}
	}
}



// Mixin for create simple text gradients
// Example: @include textGradient((blue, red, yellow));
@mixin textGradient($colors, $direction: 0deg) {
	background: linear-gradient($direction, $colors);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text; 	// stylelint-disable-line
}
