// Add ellipsis truncations if the text is bigger than the parent
@mixin textTruncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



// Add background color to text
@mixin backgroundDecoration($size, $color1, $color-gradient: $color1) {
	text-decoration: none;
	background: linear-gradient($color1, $color-gradient);
	background-position: left 0 bottom 0;
	background-repeat: no-repeat;
	background-size: 100% $size;
}
