---
const { data } = Astro.props
---

<ul class="Breadcrumbs">
	{
		data.map((item) => (
				<li>
					<a href={item.slug} aria-current={item.current ? "page" : undefined}>{item.label}</a>
				</li>
			))
	}
</ul>

<style>
.Breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    font-size: 0.75rem;
    color: var(--neutral-3);
    margin-bottom: 1rem;

    & a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &[aria-current="page"] {
            pointer-events: none;
        }
    }

    & > *:not(:last-child)::after {
        margin-left: 0.5rem;
        content: ">";
    }

    & > *:last-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


</style>