---
import { galicianDate } from '../utils/date.js'
export interface Props {
	date: Date
}

const { date, type } = Astro.props

const { day, monthInGalician, year } = galicianDate(date)

---

<time class="Datetime" datetime={date.toISOString()}>
	<span>
		{
			`${day} ${monthInGalician} ${year}`
		}
	</span>
</time>

<style>
	.Datetime {
        font-size: 0.9rem;
        line-height: 1.5rem;
        color: var(--text-light);
        pointer-events: none;
        flex-shrink: 0;
        display: flex;
        align-items: center;

        & span:not(:last-child)::after {
            content: '·';
            margin: 0 0.25em;
        }            
    }
</style>