---
import { NAV } from "../config.js";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1).split("/"); // remove the first "/"
const currentSection = currentPath[0];

---

<nav class="Nav">
	<ul>
        {
            NAV.map(item => (
                <li><a class={`/${currentSection}` === item.url ? "is-active" : ""} href={item.url}>{item.label}</a></li>
            ))
        }
	</ul>
</nav>

<style>

.Nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 4rem 1rem 3rem;
    border-radius: 100vw;
    background-color: hsla(42, 50%, 95%, 0.25);
    backdrop-filter: blur(0.6rem);
    -webkit-backdrop-filter: blur(0.6rem);
    position: sticky;
    top: 1rem;
    margin: 3rem auto;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.85rem;
    font-weight: 600;

    @media screen and (max-width: 720px) {
        top: 0.5rem;
        padding: 1rem 2.5rem 1rem 2rem;
    }
}

.Nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.Nav a {
    color: inherit;
    text-decoration: none;

    &.is-active {
        text-decoration: underline;
    }
}

.Nav a:hover {
    color: var(--brand-dark);
    text-decoration: underline;
}

	.Nav {
		& li {
			position: relative;
		}
	}


</style>