/* $NAVBAR */

/* NAVBAR */
:root {
	--Navbar-height: 55px;
	@include from(medium) {
		--Navbar-height: 65px;
	}
}

.Navbar {
	--Navbar-padding-x: 6px;
	--Navbar-items-gap: 5px;
	--Navbar-icon-height: 24px;
	z-index: 99;
	display: flex;
	align-items: center;
	width: 100vw;
	height: var(--Navbar-height);
	padding: 0 var(--Navbar-padding-x);

	@include from(medium) {
		--Navbar-padding-x: 20px;
		--Navbar-items-gap: 15px;
	}
}

/* All inside an element with this class is at right */
.Navbar-right {
	@include inlineFlexCenter;
	margin-left: auto;
}


/* NAVBAR LIST */
.Navbar-list {
	@include inlineList;
	margin: 0 20px;

	li:not(:first-child) {
		margin-left: var(--Navbar-items-gap);
	}
}


/* NAVBAR ICON */
.Navbar-icon {
	@include inlineFlexCenter;
	padding: 12px;
	border-radius: 50%;
	cursor: pointer;
	@include linkStates(background-color,
											var(--bgColor-onHover),
											var(--bgColor-onActive));

	svg {
		@include circle(var(--Navbar-icon-height));
		color: var(--fontColor);
		background-color: transparent;
	}
}



// VARIANTS
/**
 * 1. The navbar height not computing in box-model layout.
 * 2. box-shadow: For navbar with shadow
 *    transform: For navbar--scrollSensitive variant
 */
// Fix the navbar always on top
.Navbar--fixed {
	@include boxShadow(1);
	@include transition(box-shadow); /* 2 */
	position: fixed; /* 1 */
	top: 0;
	will-change: box-shadow;

	@include scrolled {
		@include boxShadow(3);
	}
}


// Fix the navbar always on top, but it show and hide if scroll down or up
.Navbar--scrollSensitive {
	@include boxShadow(1);
	@include transition((box-shadow, transform)); /* 2 */
	position: fixed; /* 1 */
	top: 0;
	will-change: box-shadow, transform;

	@include scrolled {
		@include boxShadow(3);
	}

	@include scrollDown {
		transform: translateY(var(--Navbar-height));
	}
}


// For WordPress Admin bar
.Navbar--fixed,
.Navbar--scrollSensitive {
	body.admin-bar & {
		top: 32px;
	}
}
