@use 'library/mixin';

.l-body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.l-wrapper {
	@include mixin.padding-x(var(--content-spacing-x, 0));

	flex: 1;
	width: 100%;
	max-width: calc(var(--content-width, none) + calc(var(--content-spacing-x, 0) * 2));
	margin: calc(var(--Navbar-height, 0) + 24px) auto 96px;
}
