---
permalink: artigos/feed/index.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Artigos: {{ config.title }}</title>
  <subtitle>{{ config.description }}</subtitle>
  <link href="{{ config.feedUrl }}" rel="self"/>
  <link href="{{ config.baseURL }}"/>
  <updated>{{ collections.articles | rssLastUpdatedDate }}</updated>
  <id>{{ config.baseURL }}/artigos</id>
  <author>
    <name>{{ config.author.name }}</name>
    <email>{{ config.author.email }}</email>
  </author>
  {%- for post in collections.articles %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
