---
import Page from './Page.astro';
import Date from '../components/Date.astro'
import { Image } from 'astro:assets';
const { title, galleries } = Astro.props;

---

<Page title={title}>
	<ul class="GalleryList">
		{
			galleries.map((gallery) => (
				<li class="Gallery" >
					<h2 style={`background-image: url(${ gallery.data.cover.src });`} >
						<a href={`/fotos/${gallery.data.slug}/`}>{gallery.data.title}</a>
					</h2>
				</li>
			))
		}
	</ul>
</Page>

<style>
	h2 {
		background-repeat: no-repeat; 
		background-position: center;
		background-size: 100%;
		-webkit-background-clip: text; 
		-webkit-text-fill-color: transparent; 
		font-size: 3.5rem;
		font-weight: bolder;
		margin: 0;
		transition: background-size 0.3s ease-in-out;
		
		&:hover {
			background-size: 105%;
		}

		@media screen and (min-width: 768px) {
			font-size: 7rem;
		}
	}

	.GalleryList {
		list-style: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr;
	}

	/* .Gallery {
		aspect-ratio: 3 / 4 ;
		position: relative;
		border-radius: 1rem;
		box-shadow: 0 0 1rem rgba(0,0,0,0.1);
		overflow: hidden;

		&:has(a:hover) img {
			transform: scale(1.05);
		}
	} */


	.Gallery a {
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s ease-in-out;
	}
</style>