---
import Layout from './Layout.astro';

const { title } = Astro.props;
---

<Layout title={title}>
  <article>
    <header>
      <h1 class="PageTitle">{title}</h1>
    </header>
    <slot />
  </article>
</Layout>

<style>
  .PageTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
</style>
