---
import Page from '../layouts/Page.astro';
import Date from '../components/Date.astro'

const { title, posts } = Astro.props;
---

<Page title={title}>
	<ul class="PostList">
		{
			posts.map((post) => (
				<li class="PostItem" >
					<Date date={post.data.pubDate}/>
					<h2 class="PostItem-title" ><a href={`/blog/${post.slug}/`}>{post.data.title}</a></h2>
				</li>
			))
		}
	</ul>
</Page>

<style>
    .PostList {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;

        @media screen and (max-width: 720px) {
            gap: 2rem;
        }

    }

.PostItem {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;


    @media screen and (max-width: 720px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    & .PostItem-title {
        margin: 0rem;
        font-size: 1rem;
        line-height: 1.5;
    }

    & a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
        }
    }
}
</style>