---
import Layout from "@/components/layouts/Root.astro";
import { getCollection, render } from "astro:content";
import Slider from "@/components/sections/Slider.astro";
import FormattedDate from "@/components/ui/FormattedDate.astro";

export async function getStaticPaths() {
	const sessions = await getCollection("photos");
	return sessions.map((session) => ({
		params: { id: session.id },
		props: {
			session,
		},
	}));
}

const { session } = Astro.props;
const { Content } = await render(session);
---

<Layout title="Fotografía" description="Fotografía de Iván Barcia">
	<article class="flex flex-col gap-6 py-4">
		<header class="flex flex-col gap-1.5">
			<h1 class="font-serif text-3xl md:text-4xl">
				{session.data.title}
			</h1>
			<div class="text-foreground-light text-sm">
				<FormattedDate date={session.data.pubDate} month="long" />
			</div>
		</header>
		<div class="wrapper">
			<Content />
		</div>
	</article>

	<Slider />
</Layout>
