---
import './style.css'

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1).split("/"); // remove the first "/"
const currentSection = currentPath[0];
---

<nav class="Nav">
	<ul>
		<li><a class={currentSection === "" ? "is-active" : ""} href="/"><img class="NavImage" src="/ivan_barcia.jpg" alt="Foto de perfíl de Iván Barcia">Inicio</a></li>
		<li><a class={currentSection === "blog" ? "is-active" : ""} href="/blog">Blog</a></li>
		<!-- <li><a class={currentSection === "contacto" ? "is-active" : ""} href="/contacto">Contacto</a></li> -->
	</ul>
</nav>

<style>
	.Nav {
		& li {
			position: relative;
		}
	}
	.NavImage {
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		/* position: absolute;
		left: -1.5rem; */margin-right: 1rem;

		&.is-hidden {
			display: none;
		}
	}
</style>