---
import FormattedDate from "@/components/ui/FormattedDate.astro";
import { getCollection } from "astro:content";
interface Props {
	slice?: number;
}

let posts = await getCollection("blog");
posts.sort(
	(a, b) =>
		new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);
posts = posts.filter((post) => !post.data.draft);

const { slice } = Astro.props;

const postsList = slice ? posts.slice(0, slice) : posts;
---

<ul class="flex flex-col gap-4">
	{
		postsList.map((post) => (
			<li class="flex flex-col gap-1">
				<div class="text-sm text-gray-500">
					<FormattedDate date={post.data.pubDate} />
				</div>
				<h3
					transition:name={post.id}
					class="font-serif text-xl transition-colors has-[a:hover]:text-orange-900 md:text-2xl"
				>
					<a href={`/blog/${post.id}`}>{post.data.title}</a>
				</h3>
			</li>
		))
	}
</ul>
