
<hr class="my-10 border-gray-300">

<aside class="max-w-md">
    <h2 class="text-sm font-medium mb-0.5 text-gray-900">Avisos por correo electrónico</h2>
    <p class="text-xs text-gray-500 mb-4">Suscríbete e recibe un correo electrónico cando publique algo novo.</p>
    <form id="subscription-form" class="grid gap-3 grid-cols-[1fr_auto]">
        <input id="email-input" type="email" placeholder="Email" name="email" required class="border-2 border-gray-300 rounded-md p-1.5" />
        <label for="terms" class="flex items-center gap-2 col-span-2">
            <input type="checkbox" id="terms" name="terms" required />
            <div class="text-sm">Acepto os <a href="/condicions" class="underline" >termos e condicións</a></div>
        </label>
        <button id="subscription-button" type="submit" class="bg-gray-200 text-gray-900 px-4 py-2 rounded-sm hover:bg-gray-300 transition-colors uppercase col-start-2 row-start-1">Suscribirme</button>
        <div id="subscription-result" class="text-sm col-span-2 text-green-700"></div>
    </form>
</aside>


<script>
    import { actions } from 'astro:actions';
    const form = document.querySelector('#subscription-form') as HTMLFormElement;
    const message = document.querySelector('#subscription-result') as HTMLDivElement;
    const button = document.querySelector('#subscription-button') as HTMLButtonElement;
    const input = document.querySelector('#email-input') as HTMLInputElement;
    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const email = formData.get('email') as string;
        if (confirm(`¿O email é correcto?: ${email}`)) {
            button.disabled = true;
            input.disabled = true;
            const result = await actions.subscribe(formData);
            button.disabled = false;
            input.disabled = false;
            if (result.data?.success) {
                message.textContent = result.data.message;
            } else {
                message.textContent = 'Error subscribing';
            }
        }
    });
</script>
